# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
Thumbs.db:encdata
ehthumbs.db
Desktop.ini

# VS Code
.vscode/
*.code-workspace

# JetBrains / WebStorm
.idea/
*.iml

# Sublime Text
*.sublime-project
*.sublime-workspace

# Vim
*.swp
*.swo
*~

# Node (на майбутнє)
node_modules/
npm-debug.log*

# Тимчасові файли
*.tmp
*.temp
*.log
